3501_oneri/tubitak_3501.aux
3501_oneri/tubitak_3501.log
3501_oneri/tubitak_3501.out
3501_oneri/tubitak_3501.pdf
3501_oneri/tubitak_3501.synctex.gz
tubitak3501_final_rapor/tubitak_3501.aux
tubitak3501_final_rapor/tubitak_3501.lof
tubitak3501_final_rapor/tubitak_3501.log
tubitak3501_final_rapor/tubitak_3501.lot
tubitak3501_final_rapor/tubitak_3501.out
tubitak3501_final_rapor/tubitak_3501.pdf
tubitak3501_final_rapor/tubitak_3501.synctex.gz
tubitak3501_final_rapor/tubitak_3501.toc
tubitak1001_oneri/tubitak_1001.aux
tubitak1001_oneri/tubitak_1001.log
tubitak1001_oneri/tubitak_1001.out
tubitak1001_oneri/tubitak_1001.pdf
tubitak1001_oneri/tubitak_1001.synctex.gz


